
type time_data_file, file_type, data_file_type;

#============= File labeling ==============
type_transition time_daemon system_data_file:file time_data_file;

allow time_daemon platform_app:dir { read search };

allow time_daemon platform_app:file { open read };

allow time_daemon time_data_file:dir { remove_name };

allow time_daemon time_data_file:file { getattr append unlink };
