
type wpa, domain;
type wpa_exec, exec_type, file_type;
init_daemon_domain(wpa)

allow wpa efs_file:dir search;

allow wpa wifi_efs_file:file { read open getattr };

allow wpa wifi_data_file:sock_file { create write unlink setattr };
